<div class="banner">
  <div class="container">
    <h1>Discover new places.</h1>
    <p>Find out what's out there</p>
    <%= link_to "Get started", places_path, class: "btn btn-success" %>
  </div>
</div>

