.place-card {
  padding: 30px;
  background-color: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.reviews-card {
  padding: 30px;
  background-color: white;
  margin: 20px;
}

.show-links {
  text-align: center;
}
